*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    height: 20vh;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    max-width: 10vw;
}



